<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="custom-config-xml" version="1.0.0">
  <name>CustomConfigXml</name>
  <description>Cordova plugin to add property in application</description>
  <license>MIT</license>
  <keywords>cordova,plugin,android</keywords>

  <engines>
    <engine name="cordova" version=">=6.4.0"/>
    <engine name="cordova-android" version=">=6.0.0"/>
  </engines>
  
  <preference name="BACKUP" default="false"/>
  <!-- android -->
  <platform name="android">
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:allowBackup="$BACKUP"/>
    </edit-config>
  </platform>

</plugin>
